<div class="input-group">
  <input
    type="text"
    class="form-control"
    placeholder="Termékkereső"
    aria-label="Search input"
    value={{this.searchQuery}}
    {{on "input" this.updateQuery}}
  />

  <button class="btn btn-outline-secondary" type="button" {{on "click" this.clearSearch}}>
    <i class="bi bi-x"></i>
  </button>
</div>

